{
  "app": {
    "guid": "65b837a3-3259-4130-a262-9197f7a1c700"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators"
  },
  "security": {
    "token": "NjViODM3YTMtMzI1OS00MTMwLWEyNjItOTE5N2Y3YTFjNzAw",
    "tokenExpiration": 3600
  },
  "auth": {
    "type": "internal",
    "autoSignUp": false
  },
  "fixedTimeZone": true,
  "timeZone": "Brazil/East",
  "timeZoneOffset": -180
}